.thumbnail
{
    width: 300px;
    border-radius: 4px;
}

.search-bar
{
    font-size: 20px;
    display: block;
}

.video-title
{
    width: 300px;
}

.video-preview
{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}